services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: katrix-api
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
    environment:
      - PORT=3000

  web:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: katrix-web
    restart: always
    ports:
      - "4200:4200"
    depends_on:
      - api
